*{
    margin: 0;
    padding: 0;  
  }
  .wrapper{
      position: relative;
      background-color: rgb(10, 124, 71);
      width: auto;
      height: 100%;
  }
  .title{
      display: block;
      padding-top: 25px;
      margin-bottom: 25px;
  }
  .txt {
      color: #fff;
      text-align: center;
  }
  p.txt, div.txt{
      font-size: 1.6em;
      margin:0 auto 25px auto;
      width: 65vw;
  }
  .img-block{
     margin: 25px auto;
  }
  
  .image-block {
    margin: 0 auto;
    width: 80vw;
  }
  .image-block > img{
    width: 100%;
  }
  li{
    padding-bottom: 20px;
  }
  li > img{
    width: 15vw;;
  }
  video {
    display: block;
    margin: 0 auto;
    width: 50vw;
    background-color:rgba(0, 0, 0, 0.404);
  }

  span > i , li > i{
    font-weight: 900;
    color:rgb(241, 205, 159)
  }